<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>russia</string>
	<key>CFBundleDisplayName</key>
	<string>Chester</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>82a02888834f636cd75a076a6009283d36aabd2d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>yandexnavi</string>
		<string>comgooglemaps</string>
		<string>yandexmaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Разрешите доступ к "Bluetooth", чтобы подключать устройства</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Разрешите доступ к "Календарю", чтобы выбирать необходимые события</string>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите доступ к "Камере", чтобы использовать снимки для смены аватара</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Разрешите доступ к геопозиции, чтобы Chester смог подсказывать расстояние до ресторанов</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Разрешите доступ к "Микрофону", чтобы записывать сообщения</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите доступ к галерее, чтобы использовать фотографии для смены аватара</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Разрешите доступ к "Распознованию", чтобы распозновать сообщения</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>icomoon.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>lumberjack.otf</string>
		<string>MozzartSketch.otf</string>
		<string>MozzartSketch-ExtBd.otf</string>
		<string>Feather.ttf</string>
		<string>MozzartSketch-Regular.otf</string>
		<string>MozzartSketch-SemiBold.otf</string>
		<string>MozzartSketch-SmBd.otf</string>
		<string>MozzartSketchCond-Bold.otf</string>
		<string>MozzartSketchCond-Bd.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
